# Terraform state
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/
**/.terraform/

# Terraform lock file
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Sensitive variable files
*sensitive.tf
*.auto.tfvars
terraform.tfvars

# Misc
*IAM.txt
*.DS_Store